{% load static %}
<!DOCTYPE html>
<html lang="es" data-bs-theme="body">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tienda de Videojuegos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXmDTKu6+ai5IwFK2nrUa+Jp8fH7f2f4rD6l+4G/3DZ0GZ7X4y2yUvD9J5iQ+8f1qHhJ8ZxZk7+oPv7nGy3qA=" crossorigin="anonymous" />
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body class="bg-body text-body">
    <header> 
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'home' %}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                        </li>
                    </ul>
                </div>

                <button id="toggle-theme" class="btn btn-primary rounded-pill">
                    <i class="fas fa-sun"></i> Cambiar Tema
                </button>          
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer class="bg-dark text-light py-4">
        <div class="container text-center">
            <p>&copy; 2026 Tienda de Videojuegos. Todos los derechos reservados.</p>
            <a href="{% url 'home' %}" class="text-light">Inicio</a> | 
            <a href="{% url 'contacto' %}" class="text-light">Contacto</a>
        </div>
    </footer>   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>